span{
    font-size: 13pt;
    font-family: 'Arial (Hebrew)', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
#searchBox>div>button{
    background: darkgrey;
    color: white;
}
#searchBox>div>a{
    color: white;
}
.flex-container-Navbar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom,darkgrey 90%, lightgray 10%);
    margin-bottom: 30px;
}
.footer{
    display: flex;
    background: darkgrey;
    justify-content: center;
    align-items: center;
}
.flex-container-Navbar>nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container-body>.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    direction: rtl;
}
.fa-home{
    color: dodgerblue;
}

nav > ul, .footer>ul {
    display: flex;
    list-style: none;
    padding: 0;
    direction: rtl;
}
nav>ul>li, .footer>ul>li{
    border-left: lightgrey solid 1px;
    size: 50px;
}
nav>ul>li:first-child, nav>ul>li:last-child, .footer>ul>li:last-child{
    border: none;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
.footer>ul>li>a{
    color: white;
    text-decoration: none;
    padding: 10px 10px 0;
}

nav > ul > li > a:hover, nav > ul > li > ul > li > a:hover, .footer>ul>li>a:hover, #sideMenu a:hover, #breadcrumbs a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

nav > ul > li.active > a {
    background-color: lightseagreen;
}

nav > ul > li > ul {
    list-style: none;
    position: absolute;
    width: max-content;
    display: none;
    background: darkgrey;

}
nav > ul > li > ul > li >a{
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav > ul > li:hover > ul {
    display: block;
    z-index: 100;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: white;
    text-align: center;
    height: 50px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.tab, .cube{
    height: 354px;
    width: 291px;
    position: relative;
    margin-left: 15px;
}
.bg{
    position: absolute;
}
h3{
    margin: 0;
}
.inside-txt{
    position: absolute;
    bottom: 0;
    background-color: darkgrey;
    opacity: 90%;
    color: white;
    max-height: 30%;
    text-align: right;
    font-size: 13px;
}
span{
    /*text-align: left;*/
    /*direction: ltr;*/
    align-content: center;
}
.cube{
    border: solid grey 2px;
    height: 216px;
    justify-content: center;
}
.cube>.fc{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    direction: rtl;
}
.cube>.fc>p{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cube a{
    color: grey;
}
#sideMenu {
    float: right;
    width: 122px;
    margin-left: 22px;
    background: lightgrey;
}
#sideMenu>*{
    list-style: none;
}
#sideMenu a{
    text-decoration: none;
    color: black;
}
#breadcrumbs {
    font-size: 12px;
    color: #5c5c5c;
    margin-bottom: 25px;
    text-align: right;
}
#breadcrumbs a, #breadcrumbs span{
    text-decoration: none;
    font-size: 12px;
    color: #5c5c5c;
}


