*{
    font-size: 13pt;
    font-family: 'Arial (Hebrew)', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
#searchBox>div>button{
    background: darkgrey;
    color: white;
}
#searchBox>div>a{
    color: white;
}
.flex-container-Navbar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background: darkgrey;
}
.fa-home{
    color: dodgerblue;
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    direction: rtl;
}
nav>ul>li{
    border-left: lightgrey solid 1px;
    size: 50px;
}
nav>ul>li:first-child, nav>ul>li:last-child{
    border: none;
}
nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav > ul > li > a:hover, nav > ul > li > ul > li > a:hover{
    color: blue;
    text-decoration: underline;
}

nav > ul > li.active > a {
    background-color: lightseagreen;
}

nav > ul > li > ul {
    list-style: none;
    position: absolute;
    width: max-content;
    display: none;
    background: darkgrey;

}
nav > ul > li > ul > li >a{
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav > ul > li:hover > ul {
    display: block;
}
